# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Testing / notebooks
.pytest_cache/
.ipynb_checkpoints/

# ML / artifacts
artifacts/*
!artifacts/
!artifacts/model.pt
!artifacts/model_meta.json
mlruns/
*.log
*.pt

# OS / editor
.DS_Store
.vscode/
